<div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="#">Clinic Mate</a>
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">Dra. Agapita Sanchez</h1>
        <p class="lead blog-description">Ortho Dental Clinic </br>  Address: #131 San Vicenter Biñan, Laguna </p>
      </div>
    </div><!-- /.container -->


    <div class="container">

    	<h3>Our Services</h3>

    	<div class='row'>
    		<div class='col-xs-4 col-sm-4 col-md-4 col-lg-4'>
    			<h4>Orthodontics</h4>
	    			<ul>
	    				<li>Braces</li>
	    				<li>Retainers</li>
	    			</ul>

    		</div>

    		<div class='col-xs-4 col-sm-4 col-md-4 col-lg-4'>

    			<h4>Prevention & Diagnosis</h4>

	    			<ul>
	    				<li>Examination</li>
	    				<li>Cleaning</li>
	    				<li>Flouride Treatment</li>
	    				<li>Tooth Desensitization</li>
	    			</ul>

    		</div>

    		<div class='col-xs-4 col-sm-4 col-md-4 col-lg-4'>

    			<h4>Restoration</h4>

	    			<ul>
	    				<li>White Filling</li>
	    				<li>Filling</li>
	    				<li>Bonding & Veneers</li>
	    				<li>Inlays & Onlays</li>
	    				<li>Crowns</li>
	    				<li>Bridges</li>
	    			</ul>

    		</div>

    	</div>

    	<div class='row'>

    		<div class='col-xs-4 col-sm-4 col-md-4 col-lg-4'>

    			<h4>Dentures</h4>

	    			<ul>
	    				<li>Full Dentures</li>
	    					<ul>
	    						<li>Porcelain</li>
	    						<li>Plastic</li>
	    					</ul>

	    				<li>Partial Dentures</li>
	    					<ul>
	    						<li>Porcelain</li>
	    						<li>Plastic</li>
	    					</ul>

	    				<li>Denture Relines</li>
	    				<li>Denture Repais</li>
	    				
	    			</ul>    

    		</div>

    		<div class='col-xs-4 col-sm-4 col-md-4 col-lg-4'>

    			<h4>Orel Surgery</h4>
	    			<ul>
		    			<li>Extractions</li>
		    			<li>Wisdom teeth removal</li>
		    			<li>Plastic procedures</li>
		    			<li>Root canal surgery</li>
		    			<li>Biopsy</li>
		    		</ul>

    		</div>

    		<div class='col-xs-4 col-sm-4 col-md-4 col-lg-4'>

    			<h4>Root Canal Therapies</h4>
	    			<ul>
			    		<li>Root Canal treatment</li>
			    		<li>Root Canal surgery</li>
			    		<li>Root Apex treatments and surgery</li>
			    		<li>Restoration of root canal treated teeth</li>		
			    	</ul>

    		</div>

    	</div>



    		
    		
    	


    	<h3>Contact us @09195883941</h3>
    </div><!--2nd container -->


    <footer class="blog-footer">
      <p> A.V Sanchez Orthodental Clinic , Address: #131 San Vicenter Biñan, Laguna</p>
      <p>Owner: Dra. Aapita Sanchez</p>
      <p>Create by: PJ Sanchez </p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
  </body>